.animate-fade-in-up[data-v-f2b11cdb]{animation:fadeInUp-f2b11cdb .8s cubic-bezier(.16,1,.3,1) backwards}@keyframes fadeInUp-f2b11cdb{0%{opacity:0;transform:translateY(30px)}to{opacity:1;transform:translateY(0)}}
